{% extends "core/base.html" %}

{% block title %}Producto{% endblock title %}

{% block header %}Products{% endblock header %}
{% load static %}
{% block content %}
    <!-- Products Start -->
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium fst-italic text-primary">Our Products</p>
                <h1 class="display-6">Tea has a complex positive effect on the body</h1>
            </div>
            {{products}}
            <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
            {% for product in products %}
                <a href="" class="d-block product-item rounded">
                    <img src="{{product.image.url}}" alt="">
                    <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                        <h4 class="text-primary">{{product.content}}</h4>
                        <span class="text-body">{{product.content}}</span>
                    </div>
                </a>
                <img src="{{product.image.url}}" alt="">
            {% endfor %}
            </div>
    <!-- Products End -->
{% endblock content %}